{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mt-5 text-center">Welcome to SubscriptionService</h1>
                <h6 class="mt-5 text-center">Here you subscribe to different plans offered by us</h6>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>

    </script>
{{end}}
